a.svelte-8khn6t {
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: -5rem auto 0;
    font-size: 1.5rem;
    text-align: center;
    color: var(--dark-a, slategray);
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    -webkit-text-decoration-color: #ffffff50;
    text-decoration-color: #ffffff50
}