li.svelte-1bmenfe {
    display: flex
}

b.svelte-1bmenfe {
    width: 180px;
    display: block
}

i.svelte-1bmenfe {
    font-style: normal
}

.v-scrollbar.svelte-8d1wpq {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--svrollbar-track-width, 10px)
}

.v-scrollbar.fixed.svelte-8d1wpq {
    position: fixed
}

.v-track.svelte-8d1wpq {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: var(--svrollbar-track-radius, initial);
    width: var(--svrollbar-track-width, 10px);
    opacity: var(--svrollbar-track-opacity, 1);
    background: var(--svrollbar-track-background, initial);
    box-shadow: var(--svrollbar-track-shadow, initial)
}

.v-thumb.svelte-8d1wpq {
    position: relative;
    margin: 0 auto;
    border-radius: var(--svrollbar-thumb-radius, .25rem);
    width: var(--svrollbar-thumb-width, 6px);
    opacity: var(--svrollbar-thumb-opacity, .5);
    background: var(--svrollbar-thumb-background, gray);
    box-shadow: var(--svrollbar-thumb-shadow, initial)
}

.svlr-wrapper.svelte-t58jk7 {
    position: relative
}

.svlr-viewport.svelte-t58jk7 {
    position: relative;
    overflow: scroll;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.svlr-viewport.svelte-t58jk7::-webkit-scrollbar {
    display: none
}

header.svelte-1lqi1w9 {
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10
}