.text-animate.svelte-1bjwj5b {
    background-size: 200% auto;
    -webkit-animation: svelte-1bjwj5b-shine 8s ease infinite;
    animation: svelte-1bjwj5b-shine 8s ease infinite;
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

@-webkit-keyframes svelte-1bjwj5b-shine {

    50%,
    to {
        background-position: 200% center
    }
}

@keyframes svelte-1bjwj5b-shine {

    50%,
    to {
        background-position: 200% center
    }
}